*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --body-bg: hsl(0, 0%, 13%);
}

/* With the background color added, this is not
   necessary anymore. */
/* html {
    color-scheme: dark light;
} */

body {
    background: var(--body-bg);
    color: white;
    font-family: system-ui;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
}

.wrapper {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    /* Or margin-inline */
    padding-inline: 1rem;
}

.site-title {
    font-size: 5rem;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
}

section {
    /* -block acts like top and bottom */
    /* The idea is add space in each section for the borders */
    padding-block: 5rem;
}


/* Now lets work in each section */
.diagonal {
    /* customizable stuff */
    --skew-angle: 3deg;
    --background: 
        linear-gradient(
            45deg,
            #12c2e9,
            #c471ed,
            #f64f59
        );


    position: relative;
    /* This isolation keeps the z-index just in 
       the diagonal.*/
    isolation: isolate;
}

/* This is one way to do it. The other could be 
   skewing the element and then unskewing the text. */
.diagonal::after {
    content: '';
    background: var(--background);
    /* We use position absolute in conjunction with 
       relative in the element to make sure the pseudo
       element stays in place. */
    position: absolute;
    z-index: -1;
    /* Inset replaces top bottom left right */
    inset: 0;
    transform: skewY(var(--skew-angle));
    
}



/* A change to spikes section */
.maskgradient {
    --spike-color: var(--body-bg);
    /* var(--body-bg); */
    /* This controls the size of the mask 
       the idea is to match the mask size 
       with the before/after strip size*/
    --spike-width: 50px;
    --spike-height: 60px;

    position: relative;
    color: black;
    background: 
        linear-gradient(
            to right,
            #fdc830,
            #f37335
        );
}

.maskgradient::before,
.maskgradient::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background: var(--spike-color);
    /* The webkit prefix is added to work with chrome */
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
    /* -webkit-mask-size: 
        var(--spike-width) var(--spike-height); */
    /* mask-size: 
        var(--spike-width) var(--spike-height); */
}

.maskgradient::before {
    top: 0;
}

.maskgradient::after {
    bottom: 0;
    transform: rotate(-0.5turn);
}



/* Spikes section */
.spikes {
    --spike-color: purple;
    /* var(--body-bg); */
    /* This controls the size of the mask 
       the idea is to match the mask size 
       with the before/after strip size*/
    --spike-width: 50px;
    --spike-height: 60px;

    position: relative;
    color: black;
    background: 
        linear-gradient(
            to right,
            #DD7373,
            #4B3F72
        );
}

.spikes::before,
.spikes::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background: var(--spike-color);
    /* The webkit prefix is added to work with chrome */
    -webkit-mask-image: url(assets/triangle3.svg);
    mask-image: url(assets/triangle3.svg);
    /* -webkit-mask-size: 
        var(--spike-width) var(--spike-height); */
    /* mask-size: 
        var(--spike-width) var(--spike-height); */
}

.spikes::before {
    top: 0;
}

.spikes::after {
    bottom: 0;
    transform: rotate(-0.5turn);
}



/* Background image section */
.backimage {
    position: relative;
    background-image: url(assets/triangle.svg);
}


/* Mdn mask section */
.mdnmask {
  background-color: #8cffa0;
  -webkit-mask-image: url(assets/triangle.svg);
  mask-image: url(assets/triangle.svg);
}